{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Wed May 15 15:06:43 PDT 2024
// Last Modified: Mon May 27 07:23:28 PDT 2024
// Filename:      scripts-local.html
// vim:           ts=3:nowrap:ft=javascript
//
// Description:   Functions for dynamic aspects for the
//                homepage.
//
{% endcomment %}

{% include_relative listeners.html     %}
{% include scripts/scripts-common.html %}


<script>



//////////////////////////////
//
// browseComposer -- Move to the browse page when a composer selection is made.
//

function browseComposer() {
	let element = document.querySelector("#composerSelect");
	if (!element) {
		console.error("ERROR: Cannot find #composerSelect");
		return;
	}
	if (element.selectedIndex == 0) {
		return;
	}
	let value = encodeURIComponent(element.value);
	window.location.href = `/browse/?c=${value}`;
}



//////////////////////////////
//
// browseGenre -- Move to the browse page when a genre selection is made.
//

function browseGenre() {
	let element = document.querySelector("#genreSelect");
	if (!element) {
		console.error("ERROR: Cannot find #genreSelect");
		return;
	}
	if (element.selectedIndex == 0) {
		return;
	}
	let value = encodeURIComponent(element.value);
	window.location.href = `/browse/?g=${value}`;
}



//////////////////////////////
//
// browseComposed -- Move to the browse page when a composition year  selection is made.
//

function browseComposed() {
	let element = document.querySelector("#composedSelect");
	if (!element) {
		console.error("ERROR: Cannot find #composedSelect");
		return;
	}
	if (element.selectedIndex == 0) {
		return;
	}
	let value = encodeURIComponent(element.value);
	window.location.href = `/browse/?composed=${value}`;
}



//////////////////////////////
//
// playAudio --
//

function playAudio() {
	let audio = document.querySelector("audio");
	if (audio) {
		audio.currentTime = 0;
		showControls();
	}
	let stopButton = document.querySelector("#stop-button");
	let playButton = document.querySelector("#play-button");
	if (stopButton) {
		stopButton.style.display = "inline-block";
	}
	if (playButton) {
		playButton.style.display = "none";
	}
}



//////////////////////////////
//
// stopAudio --
//

function stopAudio() {
	let audio = document.querySelector("audio");
	if (audio) {
		audio.pause();
		audio.currentTime = 0;
		audio.removeAttribute('controls');
	}

	let stopButton = document.querySelector("#stop-button");
	let playButton = document.querySelector("#play-button");
	if (stopButton) {
		stopButton.style.display = "none";
	}
	if (playButton) {
		playButton.style.display = "inline-block";
	}
}



//////////////////////////////
//
// showControls --
//

function showControls() {
	let audio = document.querySelector("audio");
	if (audio) {
		audio.setAttribute('controls', 'controls');
		audio.currentTime = 0;
		audio.play();
	}
}


</script>



