{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Wed May 15 15:06:43 PDT 2024
// Last Modified: Mon May 27 07:23:28 PDT 2024
// Filename:      scripts-local.html
// vim:           ts=3:nowrap:ft=javascript
//
// Description:   Functions for dynamic aspects for the
//                homepage.
//
{% endcomment %}

{% include_relative listeners.html     %}
{% include scripts/scripts-common.html %}


<script>



//////////////////////////////
//
// browseComposer -- Move to the browse page when a composer selection is made.
//

function browseComposer() {
	let element = document.querySelector("#composerSelect");
	if (!element) {
		console.error("ERROR: Cannot find #composerSelect");
		return;
	}
	if (element.selectedIndex == 0) {
		return;
	}
	let value = encodeURIComponent(element.value);
	window.location.href = `/browse/?c=${value}`;
}



//////////////////////////////
//
// browseGenre -- Move to the browse page when a genre selection is made.
//

function browseGenre() {
	let element = document.querySelector("#genreSelect");
	if (!element) {
		console.error("ERROR: Cannot find #genreSelect");
		return;
	}
	if (element.selectedIndex == 0) {
		return;
	}
	let value = encodeURIComponent(element.value);
	window.location.href = `/browse/?g=${value}`;
}



//////////////////////////////
//
// browseComposed -- Move to the browse page when a composition year  selection is made.
//

function browseComposed() {
console.warn("GOT HERE AAA");
	let element = document.querySelector("#composedSelect");
	if (!element) {
		console.error("ERROR: Cannot find #composedSelect");
		return;
	}
console.warn("GOT HERE BBB");
	if (element.selectedIndex == 0) {
		return;
	}
console.warn("GOT HERE CCC");
	let value = encodeURIComponent(element.value);
console.warn("GOT HERE DDD", value);
	window.location.href = `/browse/?composed=${value}`;
}


</script>



