{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Fri May 24 19:31:58 PDT 2024
// Last Modified: Fri May 24 19:55:46 PDT 2024
// Filename:      _includes/layout/footer/style-local.html
// vim:           set ts=3 nowrap ft=liquid:
//
// Description:   CSS styling of page footers.
//
{% endcomment %}

<style>

footer#footer {
	/* position: absolute;
	bottom: 0;
	left: 0; */
	width: 100%;
}

main {
	/* Allow main to grow and shrink, taking remaining space */
	/* Ensuring that the footer is at the bottom of the page */
	flex: 1 0 auto; 
	padding-bottom: 50px;
}

</style>



