

<!-- Header-->
<!-- Title Mobile -->
<div class="container-fluid d-lg-none px-sm-4 px-lg-5 text-center bg-secondary">
	<div class="title-container">
		<div class="row">
			<div class="col-12 col-lg-8 col-xl-7">
				<h1 class="display-6 text-white pt-3 pb-2">Search, Browse and Analyze Polyrhythm  (1877 &ndash; 1969)</h1>
			</div>
		</div>
	</div>
</div>
<header class="header-bg">
	<!-- Title Desktop -->
	<div class="container d-none d-lg-block">
		<div class="title-container-lg">
			<div class="row">
				<div class="col-12 col-lg-8 col-xl-7">
					<h1 class="display-6 text-white p-4">Search, Browse and Analyze Polyrhythm  (1877 &ndash; 1969)</h1>
				</div>
			</div>
		</div>
	</div>
</header>



