<!-- vim: set ts=3 nowrap: -->

<table>
	<tbody>

		<tr>
			<td class="topalign">
				<p>
					Poudrier, È. &amp; Shanahan, D. (in review).
					The cognitive, affective, and motoric
					correlates of rhythmic complexity. <em>Journal
					of New Music Research</em>, February 24, 2024.
				</p>
			</td>
			<td class="topalign">
				<a class="buttonlink" href=
				"https://drive.google.com/file/d/1nrY5AZKp3PjDek3Z7Ik62JFv4k9QFyV-/view?usp=drive_link"
				target="_blank">PDF</a>
			</td>
		</tr>

		<tr>
			<td class="topalign">
				<p>
					Poudrier, È., Bell, B. J., Lee, J. Y. H., &amp;
					Sapp, C. S. (in review). Listeners’ perceived
					emotions using synthetic and pitch-randomized
					music excerpts. <em>Empirical Musicology
					Review</em>, May 3, 2024.
				</p>
			</td>
			<td class="topalign">
				<a class="buttonlink" href=
				"https://drive.google.com/file/d/19Km_KestTUtINxsNwtioNA9IWRjvw74q/view?usp=drive_link"
				target="_blank">PDF</a>
			</td>
		</tr>

		<tr>
			<td class="topalign">
				<p>
					Poudrier, È., Bell, B. J., Lee, J. Y. H., &amp;
					Sapp, C. S. (in review). The influence of
					dissonance on listeners’ perceived emotions in
					rhythmically complex musical excerpts.
					<em>Auditory Perception &amp; Cognition</em>,
					February 19, 2024.
				</p>
			</td>
			<td class="topalign">
				<a class="buttonlink" href=
				"https://drive.google.com/file/d/1WbwJPAwnjUOglYXOgQJYsX56MNVhMe5g/view?usp=drive_link"
				target="_blank">PDF</a>
			</td>
		</tr>

	</tbody>
</table>



