{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Sat May 25 17:57:40 PDT 2024
// Last Modified: Sun May 26 11:44:59 PDT 2024
// Filename:      browse/listeners.html
// vim:           set ts=3 nowrap ft=javascript:
//
// Description:   Listeners for browse page.
//
{% endcomment %}

{% include scripts/scripts-common.html %}

<script>

// Mapping of instrument codes to instrument names:
var INSTRUMENTS = {% include instruments/instrument-names.json %};

var BROWSELIST = [];

// Variables for keeping track of sorting order in the composer table:
var SORTINFO = {};
SORTINFO.order = [1];


//////////////////////////////
//
// DownloadMetadata -- Download metadata from metadata
//     spreadsheet and then run doAction to build the
//     composer list.
//

document.addEventListener("DOMContentLoaded", function () {
	document.body.classList.remove("wait");
	DownloadMetadata(doAction);
});


//////////////////////////////
//
// DOMContentLoaded event listener -- Fill in instrument names in insturment select.
//

document.addEventListener("DOMContentLoaded", function () {
	fillInstrumentOptions();
});



//////////////////////////////
//
// DOMContentLoaded event listener -- Setup callback actions for search fields.
//
//
document.addEventListener("DOMContentLoaded", function () {
	let element = document.querySelector("input#search");
	if (element) {
		element.addEventListener("input", function() {
			doSearch();
		});
	} else {
		console.warn("No input#search found");
	}

	element = document.querySelector("input#tempomin");
	if (element) {
		element.addEventListener("input", function() {
			doSearch();
		});
	} else {
		console.warn("No input#tempomin found");
	}

	element = document.querySelector("input#tempomax");
	if (element) {
		element.addEventListener("input", function() {
			doSearch();
		});
	} else {
		console.warn("No input#partsmax found");
	}

	element = document.querySelector("input#partsmin");
	if (element) {
		element.addEventListener("input", function() {
			doSearch();
		});
	} else {
		console.warn("No input#partsmin found");
	}

	element = document.querySelector("input#partsmax");
	if (element) {
		element.addEventListener("input", function() {
			doSearch();
		});
	} else {
		console.warn("No input#partsmax found");
	}

	element = document.querySelector("input#secondsmin");
	if (element) {
		element.addEventListener("input", function() {
			doSearch();
		});
	} else {
		console.warn("No input#secondsmin found");
	}

	element = document.querySelector("input#secondsmax");
	if (element) {
		element.addEventListener("input", function() {
			doSearch();
		});
	} else {
		console.warn("No input#secondsmax found");
	}

});



//////////////////////////////
//
// doAction --
//

function doAction(examplelist) {
	if (!examplelist) {
		examplelist = EXAMPLELIST;
	}

	// Fill in select menus for browse page:
	buildComposerSelect(WORKINDEX, "#composer");
	buildGenreSelect(WORKINDEX, "#genre");
	buildTimeSignatureTypeSelect(WORKINDEX, "#tsigtype");
	buildTempoBeatSelect(WORKINDEX, "#tempobeat");

	let selement = document.querySelector("#table-scope");
	if (selement && selement.value === "work") {
		displayList(WORKINDEX);
	} else if (selement) {
		displayList(examplelist);
	} else {
		console.warn("Cannot find #table-scope");
	}
}





//////////////////////////////
//
// click event listener -- event delegation for links to work/example pages.
//

document.addEventListener("click", function (event) {
	let path = GetPath(event);
	let tr = null;
	for (let i=0; i<path.length; i++) {
		if (path[i].nodeName !== "TR") {
			continue;
		}
		if (path[i].className.match(/\bdata\b/)) {
			tr = path[i];
			break;
		}
	}
	if (!tr) {
		// nothing interesting to do
		return;
	}
	let td = tr.querySelector("td");
	if (!td) {
		// nothing interesting to do
		return;
	}
	let id = td.textContent;
	if (!id) {
		// nothing interesting to do
		return;
	}
	if (id.match(/^[TR]?\d{3}/)) {
		id = id.replace(/^[TR]/, "");
		prepareNavigationOrder("#metadata-list");
		window.open("/example?id=" + id, "_blank");
	} else if (id.match(/^[A-Z][a-z][a-z]-\d+/)) {
		prepareNavigationOrder("#metadata-list");
		// disable showing work pages for now (until fixed)
		// window.open("/work?id=" + id, "_blank");
	}
});


</script>



