{% comment %}
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Sun May 26 22:24:02 PDT 2024
// Last Modified: Sun May 26 22:24:05 PDT 2024
// Filename:      browse/scripts-local.html
// vim:           ts=3:nowrap:ft=javascript
//
// Description:   Functions for dynamic aspects for the
//                browse page.
//
{% endcomment %}


{% include scripts/scripts-common.html              %}
{% include_relative listeners.html                  %}
{% include_relative scripts-build-select-menus.html %}
{% include_relative scripts-cgi.html                %}

<script>
// vim: ts=3:nowrap


//////////////////////////////
//
// displayList --
//

function displayList(entries, query, sortinfo) {
	BROWSELIST = [];
	for (let i=0; i<entries.length; i++) {
		BROWSELIST.push(entries[i][INDEX_Suter_Example_Number]);
	}
	sessionStorage.BROWSELIST = JSON.stringify(BROWSELIST);

	let dtype = "example";
	let selement = document.querySelector("#table-scope");
	if (selement && selement.value === "work") {
		dtype = "work";
	}

	reportMatches(entries);

	let output = "";

	// output += `<table id='metadata-list' class="table table-clickable">`;
	output += `<table id='metadata-list'>`;

	if (dtype === "example") {
		output += `<thead class="sticky-top top-78">`;
		output += `<tr>`;
		output += `<th scope="col" class="fw-bold" title='Sort by ID' onclick='SortByWorkId(0, \"#metadata-list\", SORTINFO)'>ID</th>`;
		// missing example count
		output += `<th scope="col" class="fw-bold" title="Sort by composer" onclick="SortByText(1, '#metadata-list', SORTINFO)">Composer</th>`;
		output += `<th scope="col" class="fw-bold" title="Sort by title" onclick="SortByText(2, '#metadata-list', SORTINFO)">Title</th>`;
		output += `<th scope="col" class="fw-bold" title="Sort by genre" onclick="SortByText(3, '#metadata-list', SORTINFO)">Genre</th>`;
		output += `<th scope="col" class="fw-bold" title="Sort by composition date" onclick="SortByText(4, '#metadata-list', SORTINFO)">Composed&nbsp;</th>`;
		output += `<th scope="col" class="fw-bold" style="padding-right:10px;" title="Sort by primier date" onclick="SortByText(5, '#metadata-list', SORTINFO)">Premiered</th>`;
		output += `<th scope="col" class="fw-bold" title="Sort by publication date" onclick="SortByText(6, '#metadata-list', SORTINFO)">Published</th>`;
		output += `<th scope="col" class="fw-bold" style="text-align:center" title="Sort by tempo" onclick="SortByTempo(7, '#metadata-list', SORTINFO)">Tempo&nbsp;&nbsp;&nbsp;&nbsp;</th>`;
		output += `<th scope="col" class="fw-bold" title="Sort by time signature" onclick="SortByTimeSignature(8, '#metadata-list', SORTINFO)">Start time&nbsp;signature</th>`;
		output += `<th scope="col" class="fw-bold" title="Sort by recording duration" onclick="SortBySeconds(9, '#metadata-list'), SORTINFO">Example duration (sec)</th>`;
		output += `</tr>`;
		output += `</thead>`;
	} else {
		// browse by work
		output += `<thead>`;
		output += `<tr>`;
		output += `<th scope="col" class="fw-bold" title="Sort by composer" onclick="SortByWorkId(0, '#metadata-list', SORTINFO)">ID</th>`;
		output += `<th scope="col" class="fw-bold" title="Sort by composer" onclick="SortByNumber(1, '#metadata-list', SORTINFO)">Examples&nbsp;&nbsp;</th>`;
		output += `<th scope="col" class="fw-bold" title="Sort by composer" onclick="SortByText(2, '#metadata-list', SORINFO)">Composer</th>`;
		output += `<th scope="col" class="fw-bold" title="Sort by title" onclick="SortByText(3, '#metadata-list', SORINFO)">Title</th>`;
		output += `<th scope="col" class="fw-bold" title="Sort by genre" onclick="SortByText(4, '#metadata-list', SORINFO)">Genre</th>`;
		output += `<th scope="col" class="fw-bold" title="Sort by composition date" onclick="SortByText(5, '#metadata-list', SORINFO)">Composed</th>`;
		output += `<th scope="col" class="fw-bold" style="padding-right:10px;" title="Sort by premier date" onclick="SortByText(6, '#metadata-list', SORINFO)">Premiered</th>`;
		output += `<th scope="col" class="fw-bold" title="Sort by publication date" onclick="SortByText(7, '#metadata-list', SORINFO)">Published</th>`;
		output += `</tr>`;
		output += `</thead>`;
	}

	output += `<tbody>`;
	output += makeMetaTableRows(entries, dtype);
	output += `</tbody>`;
	output += `</table>`;

	let element = document.querySelector("div#list");
	if (query) {
		element.style.display = "none";
		let inp = document.querySelector("input#search");
		if (inp) {
			inp.value = query;
			doSearch(query);
		}
	} else if (entries.length == 0) {
		element.innerHTML = "";
	} else {
		element.innerHTML = output;
	}
	if (dtype === "example") {
		SortByNumber(0, "#metadata-list", SORTINFO);
	} else {
		SortByWorkId(0, "#metadata-list");
	}

	if (query) {
		element.style.display = "block";
	}
}



//////////////////////////////
//
// prepareNavigationOrder --
//

function prepareNavigationOrder(selector) {
	let data = document.querySelectorAll(selector + " > tbody > tr");
	if (data.length == 0) {
		return;
	}
	let datalist = [];
	let dtype = "";
	let idIndex = 0;
	for (let i=0; i<data.length; i++) {
		let text = data[i].cells[idIndex].textContent;
		let matches;
		matches = text.match(/^[TR](\d+)/);
		if (matches) {
			dtype = "example";
			datalist.push(matches[1]);
		} else {
			dtype = "work";
			datalist.push(text);
		}
	}

	if (dtype == "work") {
		sessionStorage["NAVIGATION_WORK"] = JSON.stringify(datalist);
	} else{
		sessionStorage["NAVIGATION_EXAMPLE"] = JSON.stringify(datalist);
	}

}



//////////////////////////////
//
// makeMetaTableRows
//

function makeMetaTableRows(list, dtype) {
	let output = "";

	for (let i=0; i<list.length; i++) {
		if (!list[i][INDEX_Work_Title]) {
			continue;
		}
		output += "<tr class='data'>";

		output += "<td style='white-space:pre;'>";
		if (dtype === "example") {

			if (list[i][INDEX_Suter_Example_Number]) {
				let number = list[i][INDEX_Suter_Example_Number];
				if (list[i][INDEX_Example_Dataset] === "R") {
					// output += "<b>";
		 			output += "R" + number;
					// output += "</b>";
				} else {
		 			output += "T" + number;
				}
			}

		} else {
			let hasReserve = 0;
			let elist = list[i]["@examples"];
			for (let j=0; j<elist.length; j++) {
				if (elist[j][INDEX_Work_Dataset] === "R") {
					hasReserve = 1;
					break;
				}
			}
			if (hasReserve && (dtype == "example")) {
				output += "<b>";
			}
			if (list[i][INDEX_Suter_Work_ID]) {
		 		output += list[i][INDEX_Suter_Work_ID];
			}
			if (hasReserve && (dtype == "example")) {
				output += "</b>";
			}

		}
		output += "</td>";

		if (dtype === "work") {
			output += "<td style='text-align:center;'>";
			output += list[i]["@examples"].length;
			output += "</td>";
		}

		output += "<td style='min-width:150px;'>";
		if (list[i][INDEX_Composer_Name]) {
		 	output += PreparePerson(list[i][INDEX_Composer_Name]);
		}
		output += "</td>";

		output += "<td style='max-width:450px;'>";
		if (list[i][INDEX_Work_Title]) {
		 	output += PrepareTitle(list[i][INDEX_Work_Title]);
		}
		output += "</td>";

		output += "<td>";
		if (list[i][INDEX_Genre]) {
		 	output += list[i][INDEX_Genre];
			if (list[i][INDEX_Sub_Genre]) {
		 		output += "/" + list[i][INDEX_Sub_Genre];
			}
		}
		output += "</td>";

		output += "<td style='text-align:center; white-space:pre;'>";
		if (list[i][INDEX_Composition_Year]) {
		 	output += list[i][INDEX_Composition_Year];
		}
		output += "</td>";

		output += "<td style='text-align:center;'>";
		if (list[i][INDEX_First_Public_Performance_Year]) {
		 	output += list[i][INDEX_First_Public_Performance_Year];
		}
		output += "</td>";

		output += "<td style='text-align:center;'>";
		if (list[i][INDEX_First_Publication_Year]) {
		 	output += list[i][INDEX_First_Publication_Year];
		}
		output += "</td>";

		if (dtype === "example") {

			output += "<td style='text-align:center;'>";
			if (list[i][INDEX_Example_Start_Notated_Beat]) {
		 		output += createTempoMarking(list[i][INDEX_Example_Start_Notated_Beat], list[i][INDEX_Example_Start_Notated_Beat_Rate]);
			}
			output += "</td>";

			output += "<td style='text-align:center;'>";
			if (list[i][INDEX_Example_Start_Tsig]) {
				let value = cleanTimeSignature(list[i][INDEX_Example_Start_Tsig]);
				if (value.match("\{")) {
		 			output += "unmetered";
				} else {
		 			output += value;
				}
			}
			output += "</td>";

			output += "<td style='text-align:center;'>";
			if (list[i][INDEX_Example_Timestamp_Duration]) {
				let value = list[i][INDEX_Example_Timestamp_Duration];
				output += value;
			}
			output += "</td>";

		}

		output += "</tr>";
	}
	return output;
}



//////////////////////////////
//
// cleanTimeSignature --
//

function cleanTimeSignature(input) {
	let output = input.replace(/;\s*/, "; ");
	return output;
}



//////////////////////////////
//
// createTempoMarking --
//

function createTempoMarking(beat, value) {
	if (!beat) {
		return "NOBEAT";
	}
	let beatpieces = beat.split(/\s*;\s*/);
	if (!value) {
		return "NOTEMPO";
	}
	let valuepieces = value.split(/\s*;\s*/);
	if (beatpieces.length != valuepieces.length) {
		return "ERROR";
	}

	let newbeatpieces = [beatpieces[0]];
	for (let i=1; i<beatpieces.length; i++) {
		if (beatpieces[i] !== beatpieces[i-1]) {
			newbeatpieces.push(beatpieces[i]);
		}
	}
	beatpieces = newbeatpieces;

	let output = "";
	for (let i=0; i<beatpieces.length; i++) {
		output += "<nobr>";
		output += createSingleTempoMarking(beatpieces[i], valuepieces[i]);
		if (i < beatpieces.length - 1) {
			output += ";</nobr> ";
		} else {
			output += "</nobr>";
		}
	}
	return output;
}



//////////////////////////////
//
// createSingleTempoMarking --
//

function createSingleTempoMarking(beat, value) {
	if (beat.match(/unavailable/)) {
		return "unavailable";
	}
	let bracket = false;
	let curley  = false;
	if (beat.match(/^[[]/)) {
		bracket = true;
		beat = beat.replace(/\[/, "", "g");
		beat = beat.replace(/\]/, "", "g");
		value = value.replace(/\[/, "", "g");
		value = value.replace(/\]/, "", "g");
	} else if (beat.match(/[{}]/)) {
		curley = true;
		beat = beat.replace(/\{/, "", "g");
		beat = beat.replace(/\}/, "", "g");
		value = value.replace(/\{/, "", "g");
		value = value.replace(/\}/, "", "g");
	}
	let style = "height:5%; display:inline-block; margin-top:-5px;"
	if (beat === "quarter") {
		// beat = "&#x2669;";
		beat = `<img style="${style}" src="/img/tempo/quarter.svg">`;
	} else if (beat === "eighth") {
		// beat = "&#x266A;";
		beat = `<img style="${style}" src="/img/tempo/eighth.svg">`;
	} else if (beat === "dotted-eighth") {
		// beat = "&#x266A;.";
		beat = `<img style="${style}" src="/img/tempo/dotted-eighth.svg">`;
	} else if (beat === "eighth-dotted") {
		// beat = "&#x266A;.";
		beat = `<img style="${style}" src="/img/tempo/dotted-eighth.svg">`;
	} else if (beat === "dotted-quarter") {
		// beat = "&#x2669;.";
		beat = `<img style="${style}" src="/img/tempo/dotted-quarter.svg">`;
	} else if (beat === "quarter-dotted") {
		// beat = "&#x2669;.";
		beat = `<img style="${style}" src="/img/tempo/dotted-quarter.svg">`;
	} else if (beat === "half") {
		// beat = "&#x1D15E;";
		beat = `<img style="${style}" src="/img/tempo/half.svg">`;
	} else if (beat === "half-dotted") {
		// beat = "&#x1D15E;.";
		beat = `<img style="${style}" src="/img/tempo/dotted-half.svg">`;
	} else if (beat === "dotted-half") {
		// beat = "&#x1D15E;.";
		beat = `<img style="${style}" src="/img/tempo/dotted-half.svg">`;
	} else if (beat === "sixteenth") {
		// beat = "&#x1D161;";
		beat = `<img style="${style}" src="/img/tempo/sixteenth.svg">`;
	} else if (beat === "dotted-sixteenth") {
		beat = "&#x1D161;.";
	} else if (beat === "sixteenth-dotted") {
		beat = "&#x1D161;.";
	} else if (beat === "half=dotted-half") {
		beat = `<img style="${style}" src="/img/tempo/half.svg">&nbsp;=&nbsp;<img style="${style}" src="/img/tempo/dotted-half.svg">`;
	} else if (beat === "dotted-half=half") {
		beat = `<img style="${style}" src="/img/tempo/dotted-half.svg">&nbsp;=&nbsp;<img style="${style}" src="/img/tempo/half.svg">`;
	} else if (beat.match(/dotted-half\s*=\s*half/)) {
		beat = `<img style="${style}" src="/img/tempo/dotted-half.svg">&nbsp;=&nbsp;<img style="${style}" src="/img/tempo/half.svg">`;
	} else if (beat === "half-dotted=half") {
		beat = `<img style="${style}" src="/img/tempo/dotted-half.svg">&nbsp;=&nbsp;<img style="${style}" src="/img/tempo/half.svg">`;
	} else if (beat === "triplet-quarter") {
		beat = `<img style="${style}" src="/img/tempo/triplet-quarter.svg">`;
	} else if (beat === "half+eighth") {
		beat = `<img style="${style}" src="/img/tempo/half-eighth.svg">`;
	} else if (beat === "dotted-quarter+dotted-eighth") {
		beat = `<img style="${style}" src="/img/tempo/dotted-quarter-dotted-eighth.svg">`;
	}

	value = value.replace(/-/, "&ndash;", "g");

	let output = `${beat}&nbsp;=&nbsp;${value}`;
	if (bracket) {
		// output = `[${output}]`;
		output = `${output}`;
	} else if (curley) {
		output = `(${output})`;
	}
	return output;
}



//////////////////////////////
//
// doSearch --
//

function doSearch(text) {
	if (FREEZE_SEARCH) {
		return;
	}

	if (!text) {
		let element = document.querySelector("input#search");
		text = element.value;
	}

	let entries  = EXAMPLELIST;
	let workQ    = 0;
	let selement = document.querySelector("#table-scope");
	if (selement && selement.value === "work") {
		// only show works, not examples
		entries = WORKINDEX;
		workQ = 1;
	}

	entries = doDatasetSearch(entries);
	entries = doComposerSearch(entries);
	entries = doGenreSearch(entries);
	entries = doStartTimeSignatureSearch(entries);
	entries = doPartCountSearch(entries);
	entries = doCompositionYearSearch(entries);
	entries = doPremierYearSearch(entries);
	entries = doPublicationYearSearch(entries);
	entries = doInstrumentSearch(entries);
	entries = doInstrumentClassSearch(entries);
	entries = doTempoBeatSearch(entries);
	entries = doTempoRangeSearch(entries);
	entries = doSecondsRangeSearch(entries);
	entries = doTextSearch(entries, text);

	displayList(entries, null, SORTINFO);
	setCgiParameters();
	setActiveSelects();
}


//////////////////////////////
//
// doTempoBeatSearch --
//

function doTempoBeatSearch(entries) {
	let beat = document.querySelector("#tempobeat");
	if (!beat) {
		return entries;
	}
	let target = beat.value;
	if (!target) {
		return entries;
	}

	let newentries = [];
	for (let i=0; i<entries.length; i++) {
		let value = entries[i][INDEX_Example_Start_Notated_Beat];
		if (!value) {
			continue;
		}
		if (target === "other") {
			if (value.match(/\+/)) {
				newentries.push(entries[i]);
			} else if (value.match(/trip/)) {
				newentries.push(entries[i]);
			}
		} else {
			let re = new RegExp("(?<!dotted-)" + target);
			if (value.match(re)) {
				if ((!value.match(/\+/)) && (!value.match(/trip/))) {
					newentries.push(entries[i]);
				}
			}
		}
	}
	entries = newentries;
	return entries;	
}



//////////////////////////////
//
// doTempoRangeSearch --
//

function doTempoRangeSearch(entries) {
	let mine = document.querySelector("#tempomin");
	if (!mine) {
		return entries;
	}
	let maxe = document.querySelector("#tempomax");
	if (!mine) {
		return entries;
	}

	let minvalue = mine.value;
	let maxvalue = maxe.value;

	let matches;
	matches = minvalue.match(/(\d+)/);
	if (matches) {
		minvalue = parseInt(matches[1]);
	}
	matches = maxvalue.match(/(\d+)/);
	if (matches) {
		maxvalue = parseInt(matches[1]);
	}
	if (!minvalue) {
		minvalue = maxvalue;
	}
	if (!maxvalue) {
		maxvalue = minvalue;
	}
	if (minvalue > maxvalue) {
		let tval = minvalue;
		minvalue = maxvalue;
		maxvalue = tval;
	}
	if ((!minvalue) && (!maxvalue)) {
		return entries;
	}
	// console.log("SEARCHING FOR TEMPO RANGE", minvalue, maxvalue);

	let output = [];
	for (let i=0; i<entries.length; i++) {
		let field = entries[i][INDEX_Example_Start_Notated_Beat_Rate];
		if (!field) {
			continue;
		}

		let matches = field.match(/(\d+)/g);
		let inrange = 0;
		if (matches) {
			for (let j=0; j<matches.length; j++) {
				let value = parseInt(matches[j]);
				if ((value >= minvalue) && (value <= maxvalue)) {
					inrange = 1;
					break;
				}
			}
		}

		if (!inrange) {
			// Check inside of tempo ranges:
			matches = field.match(/(\d+-\d+)/g);
			if (matches) {
				for (let j=0; j<matches.length; j++) {
					let matches2 = matches[j].match(/(\d+)-(\d+)/);
					if (matches2) {
						let value1 = parseInt(matches2[1]);
						let value2 = parseInt(matches2[2]);
						if ((minvalue >= value1) && (minvalue <= value2)) {
							inrange = 1;
							break;
						}
						if ((maxvalue >= value1) && (maxvalue <= value2)) {
							inrange = 1;
							break;
						}
					}
				}
			}
		}

		if (inrange) {
			output.push(entries[i]);
		}
	}

	return output;
}



//////////////////////////////
//
// doSecondsRangeSearch --
//

function doSecondsRangeSearch(entries) {
	let mine = document.querySelector("#secondsmin");
	if (!mine) {
		return entries;
	}
	let maxe = document.querySelector("#secondsmax");
	if (!mine) {
		return entries;
	}

	let minvalue = mine.value;
	let maxvalue = maxe.value;

	if ((minvalue === "") && (maxvalue === "")) {
		return entries;
	}

	if (minvalue === "") {
		minvalue = "1";
	}
	if (maxvalue === "") {
		maxvalue = "9999999";
	}
	if (minvalue < 1) {
		minvalue = "1";
	}
	if (maxvalue < 1) {
		maxvalue = "9999999";
	}


	let matches;
	matches = minvalue.match(/(\d+)/);
	if (matches) {
		minvalue = parseInt(matches[1]);
	}
	matches = maxvalue.match(/(\d+)/);
	if (matches) {
		maxvalue = parseInt(matches[1]);
	}
	if (!minvalue) {
		minvalue = maxvalue;
	}
	if (!maxvalue) {
		maxvalue = minvalue;
	}
	if (minvalue > maxvalue) {
		let tval = minvalue;
		minvalue = maxvalue;
		maxvalue = tval;
	}
	if ((!minvalue) && (!maxvalue)) {
		return entries;
	}
	console.log("SEARCHING FOR SECONDS RANGE", minvalue, maxvalue);

	let output = [];
	for (let i=0; i<entries.length; i++) {
		let field = entries[i][INDEX_Example_Timestamp_Duration];
		if (!field) {
			continue;
		}

		let matches = field.match(/(\d+)/g);
		let inrange = 0;
		if (matches) {
			for (let j=0; j<matches.length; j++) {
				let value = parseInt(matches[j]);
				if ((value >= minvalue) && (value <= maxvalue)) {
					inrange = 1;
					break;
				}
			}
		}

		if (!inrange) {
			// Check inside of seconds ranges:
			matches = field.match(/(\d+-\d+)/g);
			if (matches) {
				for (let j=0; j<matches.length; j++) {
					let matches2 = matches[j].match(/(\d+)-(\d+)/);
					if (matches2) {
						let value1 = parseInt(matches2[1]);
						let value2 = parseInt(matches2[2]);
						if ((minvalue >= value1) && (minvalue <= value2)) {
							inrange = 1;
							break;
						}
						if ((maxvalue >= value1) && (maxvalue <= value2)) {
							inrange = 1;
							break;
						}
					}
				}
			}
		}

		if (inrange) {
			output.push(entries[i]);
		}
	}

	return output;
}



//////////////////////////////
//
// reportMatches -- Store the number of examples (and later works)
//     below browse interface.
//

function reportMatches(list) {
	let element = document.querySelector("#search-count");
	if (!element) {
		return;
	}
	let output = "" + list.length;
	if (list.length == 1) {
		output += " example";
	} else {
		output += " examples";
	}
	element.innerHTML = output;
}



//////////////////////////////
//
// clearSearchFields --
//

function clearSearchFields() {
	FREEZE_SEARCH = true;

	let list = document.querySelectorAll("select");
	for (let i=0; i<list.length; i++) {
		// console.log("SETTING VALUE FOR LIST", list[i]);
		list[i].selectedIndex = 0;
		list[i].classList.remove("active");
	}

	let inputs = document.querySelectorAll("input");
	for (let i=0; i<inputs.length; i++) {
		if (inputs[i].id === "feedback_name") {
			continue;
		}
		if (inputs[i].id === "clear-button") {
			continue;
		}
		// console.log("SETTING VALUE FOR INPUT", inputs[i]);
		inputs[i].value = "";
		inputs[i].classList.remove("active");
		inputs[i].classList.remove("has-content");
	}

	FREEZE_SEARCH = false;

	doSearch();
}



//////////////////////////////
//
// fillInstrumentOptions --
//

function fillInstrumentOptions() {
	let select = document.querySelector("select#instruments");
	if (!select) {
		console.error("Cannot find instrument select");
		return;
	}
	let options = select.querySelectorAll("option");
	for (let i=0; i<options.length; i++) {
		let value = options[i].value;
		if (!value) {
			continue;
		}
		let newvalue = INSTRUMENTS[value];
		if (newvalue) {
			options[i].innerHTML = newvalue;
		} else {
			let old = options[i].innerHTML;
			options[i].innerHTML = old + " XXX";
		}
	}
}



//////////////////////////////
//
// setActiveSelects --
//

function setActiveSelects() {
	let elements = document.querySelectorAll("select");
	for (let i=0; i<elements.length; i++) {
		if (elements[i].selectedIndex != 0) {
			elements[i].classList.add("active");
		} else {
			elements[i].classList.remove("active");
		}
	}
}



//////////////////////////////
//
// doComposerSearch --
//

function doComposerSearch(entries) {

	let celement = document.querySelector("#composer");
	let composer = "";
	if (celement) {
		composer = celement.value;
	}
	composer = composer.replace(/\s*,.*/, "");

	// filter by composer if needed
	if (composer) {
		let oldentries = entries;
		entries = [];
		let testcomp;
		for (let i=0; i<oldentries.length; i++) {
			testcomp = PreparePerson(oldentries[i][INDEX_Composer_Name]);
			if (!testcomp) {
				continue;
			}
			testcomp = testcomp.replace(/\s*,.*/, "");
			if (testcomp === composer) {
				entries.push(oldentries[i]);
				continue;
			}
		}
	}

	return entries;
}



//////////////////////////////
//
// doGenreSearch --
//

function doGenreSearch(entries) {
	let gelement = document.querySelector("#genre");
	let genre = "";
	let subgenre = ""
	if (gelement) {
		let m = gelement.value.match(/(.*)\/(.*)/);
		if (m) {
			genre = m[1];
			subgenre = m[2];
		} else {
			genre = gelement.value;
		}
	}
	genre = genre.replace(/\s+$/, "").replace(/^\s+/, "");
	subgenre = subgenre.replace(/\s+$/, "").replace(/^\s+/, "");

	// filter by genre/subgenre if needed
	if (genre) {
		let oldentries = entries;
		entries = [];
		let greg = new RegExp(genre, "i");
		let sgreg = new RegExp(subgenre, "i");
		for (let i=0; i<oldentries.length; i++) {
			if (oldentries[i][INDEX_Genre] && oldentries[i][INDEX_Genre].match(greg) &&
			    oldentries[i][INDEX_Sub_Genre] && oldentries[i][INDEX_Sub_Genre].match(sgreg)) {
				entries.push(oldentries[i]);
			}
		}
	}
	return entries;
}



//////////////////////////////
//
// do StartTimeSignatureSearch --
//

function doStartTimeSignatureSearch(entries) {
	// Filter by "Start time signature" if needed
	let tsigtype = document.querySelector("#tsigtype").value;
	if (tsigtype) {
		let oldentries = entries;
		entries = [];
		for (let i=0; i<oldentries.length; i++) {
			if (tsigtype === "simple") {
				if (oldentries[i][INDEX_Example_Start_Tsig_Type].match(/simple/i)) {
					entries.push(oldentries[i]);
				}
			} else if (tsigtype === "compound") {
				if (oldentries[i][INDEX_Example_Start_Tsig_Type].match(/compound/i)) {
					entries.push(oldentries[i]);
				}
			} else if (tsigtype === "unequal") {
				if (oldentries[i][INDEX_Example_Start_Tsig_Type].match(/unequal/i)) {
					entries.push(oldentries[i]);
				}
			} else if (tsigtype === "other") {
				if (oldentries[i][INDEX_Example_Start_Tsig_Type].match(/other/i)) {
					entries.push(oldentries[i]);
				}
			} else if (oldentries[i][INDEX_Example_Start_Tsig_Type] === tsigtype) {
				entries.push(oldentries[i]);
			}
		}
	}
	return entries;
}



//////////////////////////////
//
// doDatasetSearch --
//

function doDatasetSearch(entries) {
	let oldentries;
	let datasetelement = document.querySelector("#dataset");
	if (datasetelement) {
		let dataset = datasetelement.value;
		if (dataset != "") {
			oldentries = entries;
			entries = [];
			let matches = dataset.match(/^(.)/);
			let query = matches[1];
			for (let i=0; i<oldentries.length; i++) {
				if (workQ) {
					testcompW = oldentries[i][INDEX_Work_Dataset];
					testcompE = oldentries[i][INDEX_Example_Dataset];
					if (testcompE === query) {
						entries.push(oldentries[i]);
						continue;
					} else if ((query === "B") && (testcompW === "B")) {
						entries.push(oldentries[i]);
						continue;
					}
				} else {
					let testcomp = oldentries[i][INDEX_Example_Dataset];
					if ((testcomp === query) || (testcomp === "B")) {
						entries.push(oldentries[i]);
						continue;
					}
				}
			}
		}
	}
	return entries;
}



//////////////////////////////
//
// doPartCountSearch --
//

function doPartCountSearch(entries) {
	// Filter by part counts
	let partsmin = document.querySelector("#partsmin").value;
	let partsmax = document.querySelector("#partsmax").value;
	let active = false;
	if (partsmin.match(/^\d+/)) {
		active = true;
		partsmin = parseInt(partsmin);
	} else {
		partsmin = "";
	}
	if (partsmax.match(/^\d+/)) {
		active = true;
		partsmax = parseInt(partsmax);
	} else {
		partsmax = "";
	}
	if (active) {
		let oldentries = entries;
		entries = [];
		for (let i=0; i<oldentries.length; i++) {
			let number = oldentries[i][INDEX_Staff_Count];
			if (number.match(/^\d+/)) {
				number = parseInt(number);
			} else {
				continue;
			}
			if (partsmin !== "") {
				if (number < partsmin) {
					continue;
				}
			}
			if (partsmax !== "") {
				if (number > partsmax) {
					continue;
				}
			}
			entries.push(oldentries[i]);
		}
	}
	return entries;
}



//////////////////////////////
//
// doCompositionYearSearch --
//

function doCompositionYearSearch(entries) {
	// Filter by composition date
	let compdatemin = document.querySelector("#compositiondatemin").value;
	let compdatemax = document.querySelector("#compositiondatemax").value;
	let active = false;
	if (compdatemin.match(/^\d+/)) {
		compdatemin = parseInt(compdatemin);
		if (compdatemin < 1800) {
			compdatemin = "";
		} else {
			active = true;
		}
	} else {
		compdatemin = "";
	}
	if (compdatemax.match(/^\d+/)) {
		compdatemax = parseInt(compdatemax);
		if  (compdatemax > 2000) {
			compdatemax = "";
		} else {
			active = true;
		}
	} else {
		compdatemax = "";
	}
	if ((compdatemin !== "") && (compdatemax === "")) {
		compdatemax = compdatemin;
	} else if ((compdatemin === "") && (compdatemax !== "")) {
		compdatemin = compdatemax;
	}
	if (active) {
		if (compdatemax < compdatemin) {
			let temp = compdatemax;
			compdatemax = compdatemin;
			compdatemin = temp;
		}
		let oldentries = entries;
		entries = [];
		for (let i=0; i<oldentries.length; i++) {
			let number = oldentries[i][INDEX_Composition_Year];
			if (number.match(/^\d+/)) {
				number = parseInt(number);
			} else {
				continue;
			}
			if (compdatemin !== "") {
				if (number < compdatemin) {
					continue;
				}
			}
			if (compdatemax !== "") {
				if (number > compdatemax) {
					continue;
				}
			}
			entries.push(oldentries[i]);
		}
	}
	return entries;
}



//////////////////////////////
//
// doPremiereYearSearch --
//

function doPremierYearSearch(entries) {
	// Filter by premiere date
	let premdatemin = document.querySelector("#premieredatemin").value;
	let premdatemax = document.querySelector("#premieredatemax").value;
	let active = false;
	if (premdatemin.match(/^\d+/)) {
		premdatemin = parseInt(premdatemin);
		if (premdatemin < 1800) {
			premdatemin = "";
		} else {
			active = true;
		}
	} else {
		premdatemin = "";
	}
	if (premdatemax.match(/^\d+/)) {
		premdatemax = parseInt(premdatemax);
		if  (premdatemax > 2000) {
			premdatemax = "";
		} else {
			active = true;
		}
	} else {
		premdatemax = "";
	}
	if ((premdatemin !== "") && (premdatemax === "")) {
		premdatemax = premdatemin;
	} else if ((premdatemin === "") && (premdatemax !== "")) {
		premdatemin = premdatemax;
	}
	if (active) {
		if (premdatemax < premdatemin) {
			let temp = premdatemax;
			premdatemax = premdatemin;
			premdatemin = temp;
		}
		let oldentries = entries;
		entries = [];
		for (let i=0; i<oldentries.length; i++) {
			let number = oldentries[i][INDEX_Composition_Year];
			if (number.match(/^\d+/)) {
				number = parseInt(number);
			} else {
				continue;
			}
			if (premdatemin !== "") {
				if (number < premdatemin) {
					continue;
				}
			}
			if (premdatemax !== "") {
				if (number > premdatemax) {
					continue;
				}
			}
			entries.push(oldentries[i]);
		}
	}
	return entries;
}



//////////////////////////////
//
// doPublicationYearSearch --
//

function doPublicationYearSearch(entries) {
	// Filter by publication date
	let publdatemin = document.querySelector("#publicationdatemin").value;
	let publdatemax = document.querySelector("#publicationdatemax").value;
	active = false;
	if (publdatemin.match(/^\d+/)) {
		publdatemin = parseInt(publdatemin);
		if (publdatemin < 1800) {
			publdatemin = "";
		} else {
			active = true;
		}
	} else {
		publdatemin = "";
	}
	if (publdatemax.match(/^\d+/)) {
		publdatemax = parseInt(publdatemax);
		if  (publdatemax > 2000) {
			publdatemax = "";
		} else {
			active = true;
		}
	} else {
		publdatemax = "";
	}
	if ((publdatemin !== "") && (publdatemax === "")) {
		publdatemax = publdatemin;
	} else if ((publdatemin === "") && (publdatemax !== "")) {
		publdatemin = publdatemax;
	}
	if (active) {
		if (publdatemax < publdatemin) {
			let temp = publdatemax;
			publdatemax = publdatemin;
			publdatemin = temp;
		}
		let oldentries = entries;
		entries = [];
		for (let i=0; i<oldentries.length; i++) {
			let number = oldentries[i][INDEX_Composition_Year];
			if (number.match(/^\d+/)) {
				number = parseInt(number);
			} else {
				continue;
			}
			if (publdatemin !== "") {
				if (number < publdatemin) {
					continue;
				}
			}
			if (publdatemax !== "") {
				if (number > publdatemax) {
					continue;
				}
			}
			entries.push(oldentries[i]);
		}
	}
	return entries;
}



//////////////////////////////
//
// doInstrumentSearch --
//

function doInstrumentSearch(entries) {
	// Filter by Instrument
	let instrument = document.querySelector("#instruments").value;
	if (instrument != "") {
		let onlyQ = document.querySelector("#instrument-only").checked;
		let oldentries = entries;
		entries = [];
		let regex;
		if (onlyQ) {
			regex = new RegExp(`^${instrument}$`);
		} else {
			regex = new RegExp(`\\b${instrument}\\b`);
		}
		for (let i=0; i<oldentries.length; i++) {
			let ilist = oldentries[i][INDEX_Instruments];
			if (typeof ilist === "undefined") {
				continue;
			}
			if (ilist.match(regex)) {
				entries.push(oldentries[i]);
			}
		}
	}
	return entries;
}



//////////////////////////////
//
// doInstrumentClassSearch --
//

function doInstrumentClassSearch(entries) {
	// Filter by Instrument Class
	let iclass = document.querySelector("#iclasses").value;
	if (iclass != "") {
		let onlyQ = document.querySelector("#iclass-only").checked;
		let oldentries = entries;
		entries = [];
		let regex;
		if (onlyQ) {
			regex = new RegExp(`^${iclass}$`);
		} else {
			regex = new RegExp(`\\b${iclass}\\b`);
		}
		for (let i=0; i<oldentries.length; i++) {
			let ilist = oldentries[i][INDEX_Instrument_Class];
			if (typeof ilist === "undefined") {
				continue;
			}
			if (ilist.match(regex)) {
				entries.push(oldentries[i]);
			}
		}
	}
	return entries;
}



//////////////////////////////
//
// doTextSearch --
//

function doTextSearch(entries, text) {
	text = text.trim();
	text = escape(text);
	text = text.replace(/%u0([A-F0-9][A-F0-9][A-F0-9])/g, "&#x$1;");
	text = text.replace(/%u([A-F0-9][A-F0-9][A-F0-9][A-F0-9])/g, "&#x$1;");
	text = text.replace(/%([A-F0-9][A-F0-9])/g, "&#x$1;");
	text = text.replace(/\&#x([0-7][0-9A-F]);/g, "%$1");
	text = unescape(text);
	let fields = text.split(/\s+/);

	for (let i=0; i<fields.length; i++) {
		if (fields[i].match(/^\s*$/)) {
			continue;
		}
		let oldentries = entries;
		entries = [];
		let regexp = new RegExp(fields[i], "i");
		for (let j=0; j<oldentries.length; j++) {
			if (CGI.f) {
				if (oldentries[j][CGI.f] && oldentries[j][CGI.f].match(regexp)) {
					entries.push(oldentries[j]);
					continue;
				}
			} else {
				if (oldentries[j][INDEX_Work_Title] && oldentries[j][INDEX_Work_Title].match(regexp)) {
					entries.push(oldentries[j]);
					continue;
				}
				if (oldentries[j][INDEX_Composer_Name] && oldentries[j][INDEX_Composer_Name].match(regexp)) {
					entries.push(oldentries[j]);
					continue;
				}
				if (oldentries[j][INDEX_Genre] && oldentries[j][INDEX_Genre].match(regexp)) {
					entries.push(oldentries[j]);
					continue;
				}
				if (oldentries[j][INDEX_Sub_Genre] && oldentries[j][INDEX_Sub_Genre].match(regexp)) {
					entries.push(oldentries[j]);
					continue;
				}
				if (oldentries[j][INDEX_Filename] && oldentries[j][INDEX_Filename].match(regexp)) {
					entries.push(oldentries[j]);
					continue;
				}
				// for (let key in oldentries[j]) {
				//    if (oldentries[j][key] && oldentries[j][key].match(regexp)) {
				//       entries.push(oldentries[j]);
				//    }
				// }
			}
		}
	}
	return entries;
}


</script>



