<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Search, Browse and Analyze Polyrhythm (1877 – 1969)</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Lato:wght@300;400;700;900&family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css?ver=1.08" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-xl navbar-dark sticky-top">
            <div class="container-fluid px-sm-4 px-lg-5">
                <a class="navbar-brand" href="index.html">POLYRHYTHM<span>PROJECT</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownAbout" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">About</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownAbout">
                                <li><a class="dropdown-item" href="#">Overview</a></li>
                                <li><a class="dropdown-item" href="#">People</a></li>
                                <li><a class="dropdown-item" href="#">Documentation</a></li>
                                <li><a class="dropdown-item" href="#">Corpus</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#">Browse</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Composers</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Maps</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownResearch" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Research</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownResearch">
                                <li><a class="dropdown-item" href="#">Publications</a></li>
                                <li><a class="dropdown-item" href="#">Presentations</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownSources" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sources</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownSources">
                                <li><a class="dropdown-item" href="#">Scores</a></li>
                                <li><a class="dropdown-item" href="#">Recordings</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#">Participate</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="header mb-3">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12">
                        <div class="my-5 text-center text-xl-start">
                            <h1 class="display-5 fw-bold">Lorem Ipsum</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Example -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2> Phasellus At Dignissim</h2>
                        <img src="https://placehold.co/300x300" class="me-3 mb-2 float-start img-fluid" alt="">
                        <p>Duis ullamcorper tempor ante id elementum. Phasellus at dignissim lorem. Etiam elit ante, ornare quis finibus et, mollis et sapien. Maecenas ex eros, tempor id metus id, laoreet iaculis enim. Fusce eget commodo lectus. Vivamus dapibus blandit venenatis. Curabitur ut mollis est. Aliquam at eros ullamcorper, volutpat nibh eu, tempor leo.</p>
                        <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris cursus pharetra sapien ac egestas. Sed ac nisi sit amet arcu sagittis auctor. Integer et leo ac urna venenatis ullamcorper sed sed enim. Integer hendrerit lorem in ipsum tristique tristique. Integer dictum odio in diam tincidunt, eget rutrum metus vulputate. Donec blandit sollicitudin ligula, sit amet elementum mauris malesuada sed. Maecenas commodo lectus odio, sed fermentum ligula malesuada nec. Ut sit amet sagittis orci. Suspendisse vestibulum aliquam pharetra. Integer finibus mi eu mi tristique, non viverra arcu aliquet. In nec efficitur lacus, non vehicula lacus. In urna enim, tincidunt at tristique ut, venenatis iaculis nulla. Aenean rutrum mattis ornare. Nulla ac erat erat. Suspendisse porta ex massa, ac vestibulum dui faucibus et. Donec malesuada sodales elit, ac dignissim lorem.</p>
                        <p>Integer sodales, dui ut elementum posuere, leo urna imperdiet ante, vel tempor dolor lacus nec tellus. Nam ut ex in lectus ultricies finibus ut vel urna. Vestibulum fringilla consectetur odio vel vestibulum. Aliquam ligula magna, interdum ut nunc id, sodales mattis ante. Cras faucibus condimentum enim. Duis sagittis id tortor sed pretium. Proin in vulputate risus, lacinia dapibus est. Maecenas at velit fringilla, elementum felis eu, consequat leo. Etiam orci ipsum, pulvinar egestas dolor vitae, rhoncus condimentum nunc. Quisque a tellus vitae metus aliquam posuere. Nam quis pulvinar quam, sit amet pretium dui. Ut molestie viverra molestie. Integer est sem, hendrerit at congue et, tristique sed enim. Ut consequat rhoncus nisl at luctus.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Example -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Sed Vel Diam Lobortis</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus volutpat pretium ligula at malesuada. Suspendisse nibh sapien, vestibulum nec feugiat vel, vulputate quis arcu. Sed dictum lectus orci, eu malesuada velit pharetra ut. Vestibulum ut vulputate ex, a fermentum lorem. Sed vitae nibh id odio accumsan laoreet. Mauris tincidunt, tortor tincidunt pulvinar tincidunt, ante mi finibus augue, ut aliquam velit velit euismod libero. Quisque sodales accumsan orci, mattis elementum velit egestas eget. Suspendisse suscipit at lacus vel viverra. Proin eu dolor consectetur, rutrum mi ut, semper leo. Donec tempus, magna quis efficitur cursus, lorem nisi tempor nisi, ac pellentesque sem dui a leo. Proin nec massa non nibh tempor vulputate.</p>
                        <p>Sed vel diam lobortis, <a href="#">dignissim eros vitae</a>, cursus nisl. In sagittis mauris non tortor posuere, nec porttitor nibh mattis. Quisque venenatis odio id sodales suscipit. <a href="#">Praesent maximus</a> auctor nisl non gravida.</p>
                        <ul>
                            <li>
                                Ut in dapibus nisl. Donec semper egestas nisl, eu egestas nulla venenatis sit amet.
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus volutpat pretium ligula at malesuada.
                            </li>
                            <li>
                                Fusce tristique ornare leo, eu pulvinar massa euismod ut. Ut in dapibus nisl. Donec semper egestas nisl, eu egestas nulla venenatis sit amet.
                            </li>
                        </ul>
                        <p>Fusce tristique ornare leo, eu pulvinar massa euismod ut. Ut in dapibus nisl. Donec semper egestas nisl, eu egestas nulla venenatis sit amet. Praesent rutrum interdum tincidunt.</p>
                        <h2>Magnis Dis Parturient Montes</h2>
                        <p>Duis ullamcorper tempor ante id elementum. Phasellus at dignissim lorem. Etiam elit ante, ornare quis finibus et, mollis et sapien. Maecenas ex eros, tempor id metus id, laoreet iaculis enim. Fusce eget commodo lectus. Vivamus dapibus blandit venenatis. Curabitur ut mollis est. Aliquam at eros ullamcorper, volutpat nibh eu, tempor leo.</p>
                    </div>
                    <div class="col-12 mb-lg-0">
                        <figure class="bg-light p-3" style="border-left: .35rem solid #173042;">
                            <blockquote class="blockquote m-0">
                                <p>Curabitur quis enim tellus. Integer vel mi vel magna malesuada blandit vitae sit amet nibh. Fusce venenatis faucibus risus nec euismod. Donec at semper orci. Sed lacinia tortor a ullamcorper posuere. Etiam sodales auctor turpis at dignissim. Vivamus tempor ante nec fringilla tristique. Nulla facilisi. Morbi pulvinar, libero non ornare vulputate, purus ipsum suscipit turpis, ut dictum est felis nec libero. Donec porta risus sit amet mauris bibendum vulputate. Etiam turpis risus, consectetur quis interdum vel, gravida in dui. Suspendisse eu pharetra elit. In ante turpis, porttitor eget lectus at, volutpat bibendum ante. Nunc eu metus eget ipsum consequat viverra ac euismod elit. Sed et orci ac sem dignissim cursus.</p>
                            </blockquote>
                        </figure>
                        <p>Sed vel diam lobortis, <a href="#">dignissim eros vitae</a>, cursus nisl. In sagittis mauris non tortor posuere, nec porttitor nibh mattis. Quisque venenatis odio id sodales suscipit. <a href="#">Praesent maximus</a> auctor nisl non gravida.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- FAQ Accordion -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="mb-3">Mauris Cursus Pharetra</h2>
                        <div class="accordion accordion-flush mb-5" id="accordionExample">
                            <div class="accordion-item">
                                <p class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Etiam orci ipsum pulvinar egestas dolor vitae</button></p>
                                <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <strong>Proin viverra elit dictum lorem eleifend.</strong>
                                        Integer sodales, dui ut elementum posuere, leo urna imperdiet ante, vel tempor dolor lacus nec tellus. Nam ut ex in lectus ultricies finibus ut vel urna. Vestibulum fringilla consectetur odio vel vestibulum. Aliquam ligula magna, interdum ut nunc id, sodales mattis ante. Cras faucibus condimentum enim. Duis sagittis id tortor sed pretium. Proin in vulputate risus, lacinia dapibus est. Maecenas at velit fringilla, elementum felis eu, consequat leo. Etiam orci ipsum, pulvinar egestas dolor vitae, rhoncus condimentum nunc. Quisque a tellus vitae metus aliquam posuere. Nam quis pulvinar quam, sit amet pretium dui. Ut molestie viverra molestie. Integer est sem, hendrerit at congue et, tristique sed enim. Ut consequat rhoncus nisl at luctus.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <p class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Maecenas commodo lectus odio</button></p>
                                <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <strong>Aenean rutrum mattis ornare.</strong>
                                        Duis ullamcorper tempor ante id elementum. Phasellus at dignissim lorem. Etiam elit ante, ornare quis finibus et, mollis et sapien. Maecenas ex eros, tempor id metus id, laoreet iaculis enim. Fusce eget commodo lectus. Vivamus dapibus blandit venenatis. Curabitur ut mollis est. Aliquam at eros ullamcorper, volutpat nibh eu, tempor leo.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <p class="accordion-header" id="headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Aliquam ligula magna</button></p>
                                <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <strong>Integer est sem.</strong>
                                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris cursus pharetra sapien ac egestas. Sed ac nisi sit amet arcu sagittis auctor. Integer et leo ac urna venenatis ullamcorper sed sed enim. Integer hendrerit lorem in ipsum tristique tristique. Integer dictum odio in diam tincidunt, eget rutrum metus vulputate. Donec blandit sollicitudin ligula, sit amet elementum mauris malesuada sed. Maecenas commodo lectus odio, sed fermentum ligula malesuada nec. Ut sit amet sagittis orci. Suspendisse vestibulum aliquam pharetra.
                                        Integer finibus mi eu mi tristique, non viverra arcu aliquet. In nec efficitur lacus, non vehicula lacus. In urna enim, tincidunt at tristique ut, venenatis iaculis nulla. Aenean rutrum mattis ornare. Nulla ac erat erat. Suspendisse porta ex massa, ac vestibulum dui faucibus et. Donec malesuada sodales elit, ac dignissim lorem.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="py-4 mt-auto">
        <div class="container">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-12 col-lg-5 mb-3 mb-lg-0">
                    <img class="img-fluid" src="assets/img/footer-ubc-logo.png" alt="ubc logo">
                </div>
                <div class="col-12 col-lg-7 text-center text-lg-right">
                    <img class="img-fluid" src="assets/img/footer-canada-logo.png" alt="canada logo">
                </div>
            </div>
        </div>
    </footer>
    <!-- Feedback -->
    <div class="feedback">
        <button type="button" data-bs-toggle="modal" data-bs-target="#feedbackModal">
            <span><i class="bi bi-chat-dots" role="none"></i>Feedback</span>
        </button>
    </div>
    <!-- Modal -->
    <div class="modal" id="feedbackModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h2 class="modal-title">Feedback</h2>
                    <input type="button" class="btn-close" value="·" data-bs-dismiss="modal">
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col">
                                <p>Please provide your feedback in the form below.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="form-label" for="feedback_name">Your Name</label>
                                <input type="text" required name="name" class="form-control" id="feedback_name" aria-label="Your Name">
                            </div>
                            <div class="col mb-4">
                                <label class="form-label" for="feedback_email">Email</label>
                                <input type="email" name="email" required class="form-control" id="feedback_email" aria-label="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="feedback_comments">Add your comment about our website</label>
                            <textarea class="form-control" id="feedback_comments" rows="5"></textarea>
                        </div>
                    </form>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
